################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Thomerson.DotnetNote/.vs/config
/Thomerson.DotnetNote/.vs/Thomerson.DotnetNote/v15
/Thomerson.DotnetNote/Dotnet.Async/bin/Debug/netcoreapp2.0
/Thomerson.DotnetNote/Dotnet.Async/obj
/Thomerson.DotnetNote/Dotnet.Linq/bin/Debug/netcoreapp2.0
/Thomerson.DotnetNote/Dotnet.Linq/obj
/Thomerson.DotnetNote/Dotnet.Tuple/bin/Debug/netcoreapp2.0
/Thomerson.DotnetNote/Dotnet.Tuple/obj
/Thomerson.DotnetNote/Dotnet.WebAPI/bin/Debug/netcoreapp2.0
/Thomerson.DotnetNote/Dotnet.WebAPI/obj
/Thomerson.DotnetNote/DotnetDelegate/bin/Debug/netcoreapp2.0
/Thomerson.DotnetNote/DotnetDelegate/obj
/Thomerson.DotnetNote/DotnetEvent/bin/Debug/netcoreapp2.0
/Thomerson.DotnetNote/DotnetEvent/obj
/Thomerson.DotnetNote/Thomerson.DotnetNote/bin/Debug/netcoreapp2.0
/Thomerson.DotnetNote/Thomerson.DotnetNote/obj
/Thomerson.DotnetNote/Dotnet.RabbitMQ.Consumer/bin/Debug/netcoreapp2.0
/Thomerson.DotnetNote/Dotnet.RabbitMQ.Consumer/obj
/Thomerson.DotnetNote/Dotnet.RabbitMQ.Producer/bin/Debug/netcoreapp2.0
/Thomerson.DotnetNote/Dotnet.RabbitMQ.Producer/obj
/Thomerson.DotnetNote/Dotnet.Reflect/bin/Debug/netcoreapp2.0
/Thomerson.DotnetNote/Dotnet.Reflect/obj
/Thomerson.DotnetNote/Dotnet.Collection/bin/Debug
/Thomerson.DotnetNote/Dotnet.Collection/obj/Debug
/Thomerson.DotnetNote/Dotnet.Event/bin/Debug
/Thomerson.DotnetNote/Dotnet.Event/obj/Debug
/Thomerson.DotnetNote/Dotnet.Socket.Client/bin
/Thomerson.DotnetNote/Dotnet.Socket.Client/obj/Debug
/Thomerson.DotnetNote/Dotnet.Socket.Server/bin/Debug
/Thomerson.DotnetNote/Dotnet.Socket.Server/obj/Debug
/Thomerson.DotnetNote/packages
/Thomerson.DotnetNote/Dotnet.MultiThread/bin/Debug
/Thomerson.DotnetNote/Dotnet.MultiThread/obj/Debug
/Thomerson.DotnetNote/Dotnet.ADO/obj/Debug
/Thomerson.DotnetNote/Dotnet.ADO/bin/Debug
